{{Extend "layout"}}

{{Block "title"}}
{{Super}} - powered by webx.top
{{/Block}}

{{Block "body"}}
 <div>
    Hello World.
 </div>
  {{Include "included"}}
<pre>
  <strong>line 1</strong>
  <strong>line 2</strong>
  <strong>line 3</strong>
</pre>
<pre style="color:red">
  <strong>line 1</strong>
  <strong>line 2</strong>
  <strong>line 3</strong>
</pre>
{{/Block}}
{{Block "foot"}}
<br />-----------------foot---------------<br />
{{Include "included2"}}
{{/Block}}

{{Block "no"}}
{{empty}} www.webx.top
{{/Block}}